# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Playwright Test Outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/

# OS Temp Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
